.main-post {
  display: flex;
  flex-direction: column;
}

.post-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0.5rem;
  padding: 5rem;

  .post {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #ccc;
    flex-grow: 1;
  }

  .like {
    display: flex;
    justify-content: center;
    align-items: baseline;
    background-color: #f4f4f4;
  }
}
